body{
  border-top: 5px #AAD500 solid;
  margin:0;
  padding:20px 0 0 0;
}

img{
  min-height:324px;
}

#wrapper{
  margin: 0 auto;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  width:1000px;
}

.row{
  width:100%;
  display:block;
  margin-bottom:10px;
}

.col1{
  margin-left:5px !important;
}

.col1, .col2{
  margin:0;
  min-height: 324px;
}

.col1{
  width:24%;
}

.col2{
  width:50%;
}